<h1>Clase 01</h1>
<h1>Thomas Aguilar Arguello</h1>
<br><button routerLink="bindeos">Bindeos</button><br><br>
<button routerLink="login">Login</button>

<router-outlet />

<!-- componentes -->
<label>Edad1</label>
<br>
<input type="number" [(ngModel)]="Edad1" />
<br>
<label>Edad2</label><br>
<input type="number" [(ngModel)]="Edad2" />

<br><button (click)="sumaEdades()" (click)="promedioEdades()">Suma</button>
&nbsp;
<button (click)="limpiarCuadros()">Limpiar Cuadros</button>



<br><label>Resultado suma</label><br>
<input id="sumaInput" [(ngModel)]="sumaEdad" />


<br><label>Resultado promedio</label><br>
<input id="promedioInput" [(ngModel)]="promedioEdad" />


